<%- include("header") -%>

<h2>This is the about page</h2>

<p>I built this app in order to show my skills and programming knowledge in React.</p>
<p>This app uses a Template EJS, MongoDB and more</p>
<p>Hope you will like it!</p>

<%- include("footer") -%>
